{{- if or .Values.metrics.enableScraping .Values.gardener.runtimeCluster.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: gardener-extension-dummy-service
  namespace: {{ .Release.Namespace }}
  annotations:
    networking.resources.gardener.cloud/from-world-to-ports: '[{"protocol":"TCP","port":{{ .Values.webhookConfig.serverPort }}}]'
    networking.resources.gardener.cloud/from-all-seed-scrape-targets-allowed-ports: '[{"port":{{ .Values.metrics.port }},"protocol":"TCP"}]'
    networking.resources.gardener.cloud/from-all-webhook-targets-allowed-ports: '[{"protocol":"TCP","port":{{ .Values.webhookConfig.serverPort }}}]'
    networking.resources.gardener.cloud/namespace-selectors: '[{"matchLabels":{"kubernetes.io/metadata.name":"garden"}}]'
    networking.resources.gardener.cloud/pod-label-selector-namespace-alias: extensions
  labels:
    app.kubernetes.io/name: gardener-extension-dummy-service
    helm.sh/chart: gardener-extension-dummy-service
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  type: ClusterIP
  ports:
  - name: metrics
    port: {{ .Values.metrics.port }}
    protocol: TCP
  selector:
    app.kubernetes.io/name: gardener-extension-dummy-service
    app.kubernetes.io/instance: {{ .Release.Name }}
{{- end }}
